<!DOCTYPE html>
<html>
    <head>

    </head>
    <title>
        Enter Data
    </title>
    <body>
        <div id='entry'>
            <form method="POST">
                <tr>
                    <td>
                        NAME
                      <input type="text" name="name" value="" />
                    </td>
                    <td>
                        TYPE
                        <input type="text" name="type" value="" /> 
                    </td>
                    <td>
                        ADMITTED
                        <input type="text" name="admitted" value="" />
                    </td>
                    <td>
                        DOCTORS
                        <input type="text" name="doctors" value="" /> 
                    </td>
                    <td>
                        NURSES
                        <input type="text" name="nurses" value="" />
                    </td>
                </tr>
            <input type="submit" value="SUBMIT" />
            </form>
        </div>
    </body>
</html>